Redirect 301 /hta1/trims/home /hta1/trims.html#home
Redirect 301 /hta1/trims/signup /hta1/trims.html#signup
Redirect 301 /hta1/trims/login /hta1/trims.html#login
Redirect 301 /hta1/trims/testing1 /hta1/trims.html#testing1
Redirect 301 /hta1/trims/testing2 /hta1/trims.html#testing2
Redirect 301 /hta1/trims/testing3 /hta1/trims.html#testing3
Redirect 301 /hta1/trims/testing4 /hta1/trims.html#testing1
Redirect 301 /hta1/trims/testing5 /hta1/trims.html#testing5
Redirect 301 /hta1/trims/admin1 /hta1/trims.html#admin1
Redirect 301 /hta1/trims/admin2 /hta1/trims.html#admin2
Redirect 301 /hta1/trims/admin3 /hta1/trims.html#admin3
Redirect 301 /hta1/trims/admin4 /hta1/trims.html#admin4
Redirect 301 /hta1/trims/admin5 /hta1/trims.html#admin5
Redirect 301 /hta1/trims/admin6 /hta1/trims.html#admin6
Redirect 301 /hta1/trims/admin7 /hta1/trims.html#admin7
Redirect 301 /hta1/trims/user1 /hta1/trims.html#user1
Redirect 301 /hta1/trims/user2 /hta1/trims.html#user2
Redirect 301 /hta1/trims/user3 /hta1/trims.html#user3
Redirect 301 /hta1/trims/user4 /hta1/trims.html#user4
Redirect 301 /hta1/trims/user5 /hta1/trims.html#user5
Redirect 301 /hta1/trims/user6 /hta1/trims.html#user6
Redirect 301 /hta1/trims/user7 /hta1/trims.html#user7

